.navbar {
  padding: 20px;
  background-color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 80px;
}

.auth-links{
  padding-left: 1000px;
}

.nav-item {
  font-size: 1.5rem;
  font-weight: medium;
  color: black;
  cursor: pointer;
}
